.download {
    background-color: #f2e6ff;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .download-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .download-header {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 40px;
    color: #7a297a;
  }
  
  .app-images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  .mobile-icon {
    width: 200px;
    margin: 0 20px;
  }
  