.footer {
    background-color: #e0d8ee;
    color: #444444;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 60px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  
  .email-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
  }
  
  .email-form-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .email-form-input {
    display: block;
    width: 250px;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
  }
  
  .email-form-input:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  
  .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .social-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social-li {
    margin-right: 20px;
  }
  
  .social-link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #8a2be2;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .social-link:hover {
    transform: scale(1.1);
  }