/* Navbar.css */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0d8ee;
  height: 80px;
  font-family: 'Roboto', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
  color: #4b3f72;
  font-size: 50px;
  font-weight: 900;
  text-decoration: none;
}
.nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#kawaii-toilet {
  width: 50px;
  height: auto;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 30px;
}

.nav-link {
  display: inline-block;
  color: #4b3f72;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.3s;
}

.nav-link:hover {
  background-color: #f3eaff;
  border-radius: 5px;
}

.nav-link-signup {
  background-color: #8860d0;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

.nav-link-signup:hover {
  background-color: #744bc6;
}

.display-none {
  display: none;
}


.welcome-message {
  display: inline-block;
  color: #4b3f72;
  font-size: 20px;
  padding: 10px 15px;
  transition: 0.3s;

}