@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.navbar {
  background: var(--white);
  height: 75px;
  padding: 10px 70px 0px 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.nav-logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  height: 100%;
  width: 1300px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-grey);
}
#kawaii-toilet {
  height: 100%;
}
.nav-logo {
  font-family: 'BulgariaDreams';
  font-weight: 700;
  color: var(--primary-color-4);
  text-decoration: none;
  font-size: 48px;
}
#tt {
  letter-spacing: 4px;
  padding-left: 1px;
}
#exclamation {
  padding-left: 1px;
}
.nav-links {
  font-family: 'Roboto';
  font-weight: 400;
  height: 100%;
  align-items: center;
  margin:0px;
  padding: 0px;
  color: var(--dark-grey);
  display: flex;
  list-style-type: none;
  text-decoration: none;
}
.nav-item {
  box-sizing: border-box;
  height: 50%;
  padding: 5px 10px;
  font-size: 16px;
}
.login {
  border: 1px solid var(--dark-grey);
  border-radius: 3px;
  margin: 0 10px;
}
.sign-up {
  border: 1px solid var(--primary-color-5);
  border-radius: 3px;
}
.sign-up a {
  color: var(--primary-color-5);
}
.login:hover {
  border-color: var(--secondary-color-5);
}
.login a:hover {
  color: var(--secondary-color-5);
}
.sign-up:hover {
  background-color: var(--secondary-color-1);
}
.nav-links:hover {
  color: var(--primary-color-5);
}
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #655DBB;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #655DBB;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #655DBB;
      transition: 250ms;
    }
  }
/* Helpers */
.display-none {
  display: none;
}