

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #9275b3;
}

.login-content {
  max-width: 400px;
  padding: 40px;
  background-color: #e2d8ff;
  border-radius: 10px;
  box-shadow: 0px 14px 28px rgba(128,94,245,0.2), 0px 10px 10px rgba(128,94,245,0.15);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #7750c4;
  margin-bottom: 30px;
}

p {
  color: #3e2494;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.login-button {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  color: #ffffff;
  background-color: #684bc5;
  border: none;
  margin-bottom: 20px;
}

.auth-button {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  color: #ffffff;
  background-color: #180067;
  border: none;
  margin-bottom: 20px;
}

.login-button:hover {
  background-color: #704de4;
}

input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

input[type="submit"] {
  margin-top: 20px;
}
